<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARTCRS | Success</title>

    <!-- Favicon -->
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class=suc>
        <h3>Successfully Registered !! </h3>
            <p> Upon successful appointment booking or contacted, you can anticipate forthcoming communication from CARTCRS administration or a designated representative. Meanwhile, you may wish to peruse their website to gain further insight into their services and offerings. Familiarizing yourself with their platform will provide a comprehensive understanding ahead of your scheduled appointment. Should you have any inquiries or require assistance, please do not hesitate to reach out.</p> 
            <h4>Welcome to CARTCRS </h4>
        <a href="{% url 'index' %}">Back to Home</a>
    </div>
</body>
</html>